/* google Font url*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;900&family=Paytone+One&display=swap');
/*  
font-family: 'Outfit', sans-serif;
font-family: 'Paytone One', sans-serif;
 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background-color: #0e0c0e;
  font-family: 'Outfit', sans-serif;
  color: #F8F4DB; 
  overflow-x: hidden;

}

.font-title {
  font-family: 'Paytone One', sans-serif;
  
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Ensures the footer spans the entire width */
  text-align: center; /* Center-aligns the content */
}

.footer p {
  margin-bottom: 10px; /* Removes default margin for the paragraph */
}

.footer2{
  margin-top: 30px;
}